@use './core-mixins-v3';
@use './core-functions-v3';
@use './breakpoints';

@mixin basic() {
	&__video-container {
		display: grid;
		grid-template: 'video' / 1fr;
		grid-area: main;
		opacity: 0;
		pointer-events: none;
		height: 100%;
		width: 100%;
		background-color: black;
		transition: opacity 0.5s, background-color 1s;
		z-index: -1;

		@include core-mixins-v3.device(breakpoints.$tabPortrait) {
			object-fit: cover;
			grid-area: main;
		}

		&.video-playing {
			pointer-events: all;
			opacity: 1;
			z-index: 10;
		}

		&.lock-video-aspect-to-image {
			iframe,
			video {
				position: absolute;
				inset: 0;
				width: 100%;
				height: 100%;
			}
		}

		&.set-video-to-cover {
			iframe,
			video {
				object-fit: cover;
				object-position: center;
			}
		}

		.loading-wrapper {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			width: core-functions-v3.fluidSize(84);
			height: core-functions-v3.fluidSize(84);

			--spinner-bg-colour: #ffffff54;
			--spinner-colour: white;

			&:before {
				content: '';
				top: 0;
				left: 0;
				width: core-functions-v3.fluidSize(84);
				height: core-functions-v3.fluidSize(84);
				position: absolute;
				border-radius: 50%;
				border-right: solid core-functions-v3.fluidSize(5)
					var(--spinner-bg-colour);
				border-left: solid core-functions-v3.fluidSize(5)
					var(--spinner-bg-colour);
				border-top: solid core-functions-v3.fluidSize(5)
					var(--spinner-bg-colour);
				border-bottom: solid core-functions-v3.fluidSize(5)
					var(--spinner-colour);
				animation: rotate 1s linear infinite;
			}
		}
	}

	&__video-play-button {
		grid-area: main;
		place-self: center;
		@include playButtonDefault();
		transform: scale(1);
		transition: transform 0.3s 0.5s;

		&.video-playing {
			transform: scale(0);
			transition: transform 0.5s;
			opacity: 0;
			pointer-events: none;
			max-height: 0px;
		}
	}

	&__video-inner-container {
		grid-area: video;
		display: flex;
		width: 100%;
		position: relative;

		iframe {
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}
	}

	&__video-player {
		height: auto;
		object-fit: contain;
		width: 100%;
	}
}

@mixin modal() {
	&.modal-video-playing {
		overflow-y: hidden;
	}

	.cblvc-modal-container {
		position: fixed;
		z-index: 10;
		inset: 0;
		display: grid;
		pointer-events: none;
		grid-template: 'main' / 1fr;
		place-items: center;
		background-color: rgba(0, 0, 0, 0.601);
		padding: var(--global-block-spacing) var(--global-inline-spacing);

		@include core-mixins-v3.device(breakpoints.$desktop) {
			padding: core-functions-v3.fluidSize(100);
		}

		&.video-playing {
			z-index: 999;
			pointer-events: all;

			.cblvc-modal-container__modal-close {
				opacity: 1;
				transition: opacity 1s 1s;
			}

			.cblvc-modal-container__modal-inner {
				opacity: 1;
				transition: opacity 1s 1s;
			}
		}

		&__modal-inner {
			grid-area: main;
			display: grid;
			grid-template: 'modal' / 1fr;
			background: var(--black);
			opacity: 0;
			transition: opacity 1s;
			width: 100%;
			max-width: core-functions-v3.fluidSize(1000);

			@include core-mixins-v3.device(breakpoints.$tabPortrait) {
				width: auto;
				max-width: core-functions-v3.fluidSize(1000);
			}

			@include core-mixins-v3.device(breakpoints.$tabLandscape) {
				max-width: core-functions-v3.fluidSize(1000);
			}
		}

		&__video-player {
			grid-area: modal;
			height: auto;
			width: 100%;
			max-height: 90vh;

			@include core-mixins-v3.device(breakpoints.$tabPortrait) {
				max-height: 80vh;
				min-height: 50vh;
			}
		}

		&__modal-close {
			grid-area: modal;
			align-self: flex-start;
			justify-self: flex-end;
			z-index: 99;
			transform: translate(50%, -50%);
			@include closeButtonDefault();
		}
	}
}

@mixin playButtonDefault() {
	display: grid;
	place-items: center;
	background-color: white;
	opacity: 1;
	border-radius: 50px;
	width: core-functions-v3.fluidSize(84);
	height: core-functions-v3.fluidSize(84);
	border: none;
	z-index: 100;
	padding: 0;
	position: relative;

	&:hover {
		cursor: pointer;
	}

	&::before {
		position: absolute;
		content: '';
		height: core-functions-v3.fluidSize(34);
		width: core-functions-v3.fluidSize(25);
		transform: translateX(18%);
		clip-path: polygon(100% 50%, 0 0, 0 100%);
		background-color: black;

		@supports not (aspect-ratio: 1/1) {
			top: 50%;
			left: 50%;
			transform: translate(-25%, -50%);
		}
	}
}

@mixin closeButtonDefault() {
	transition: opacity 1s;
	display: grid;
	place-items: center;
	background-color: white;
	opacity: 1;
	border-radius: 50px;
	width: core-functions-v3.fluidSize(35);
	height: core-functions-v3.fluidSize(35);
	border: none;
	z-index: 100;
	padding: 0;
	position: relative;

	&:hover {
		cursor: pointer;
	}

	&::before {
		position: absolute;
		content: '';
		height: core-functions-v3.fluidSize(20);
		width: core-functions-v3.fluidSize(20);
		clip-path: polygon(
			15% 0,
			0 15%,
			35% 50%,
			0 85%,
			15% 100%,
			50% 65%,
			85% 100%,
			100% 85%,
			65% 50%,
			100% 15%,
			85% 0,
			50% 35%
		);
		background-color: black;

		@supports not (aspect-ratio: 1/1) {
			top: 50%;
			left: 50%;
			transform: translate(-25%, -50%);
		}
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
